.container {
  height: 100vh;
  width: 100wv;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  height: 75vh;
  width: 75vh;
  display: flex;
  /* border: 1px solid sandybrown; */
  flex-direction: column;
}

.squaresContainer {
  display: flex;
  height: calc(75vh / 5);
  width: 100%;
}

.squares {
  height: calc(75vh / 5);
  width: calc(75vh / 5);
  /* background: rgb(201, 76, 76); */
  border: 1px solid pink;
}
